:root {
    --Blue: #92ccce;
    --DrkGry: #31343d;
    --Navy: #445877;
}

* {
    font-family: 'Trebuchet MS';
    font-size: 15px;
    margin: 0%;
}

/* Header and Nav */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--DrkGry);
    width:100%;
    height: 75px;
    
}

h1 {
    display: flex;
    color: var(--DrkGry);
    background-color: var(--Blue);
    padding-left: 5%;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    align-items: center;
    white-space: nowrap;
}




nav ul {
    display: flex;
    padding-top: 5%;
    margin-right: 30px;
}

nav ul li {
    display: flex;
    display: inline-block;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    color:#51D6D6;
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    align-items: center;
} 

a:link {
    font-size: 20px;
    text-decoration: none;
}
a:visited {
    color: #51D6D6;
    text-decoration: none;
}




/* Big Photo */

.headimg {
    display: flex;
    position: relative;
    flex-shrink: 1;

}

.headimg img {
    display: flex;
    width: 100%;
    height: 300px;

}

.headimg figcaption {
   position: absolute;
   font-size: 30px;
   background: var(--Blue);
   color: var(--DrkGry);
   top: 80%;
   right: 2%;
   padding: 5px; 
}

/* About Me Info */
.About {
    display: flex;
    position: relative;
    margin-top: 5%;
}

.About h2{
    font-size: 40px;
    flex: 0 0 10%;
    padding-right: 1%;
    color: var(--Navy);
    text-align: end;
    border-right: solid;
}

.About li {
    display: flex;
    color: var(--Navy);
    margin-top: 0.5%;
    line-height: 20px;
    padding-right: 60px;
}

.Work {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
}

.Work h2 {
    font-size: 40px;
    flex: 0 0 10%;
    padding-right: 1%;
    color: var(--Navy);
    text-align: end;
    border-right: solid;
}

.Column {
    display: flex;
    flex-flow: column;
}






/*First Row Picture*/
.FirstRow {
    display: flex;
    padding: 5%;
    padding-top: 0.5%;
}

.SurfCard {
    display: flex;
    position: relative;
    justify-content: center;
}

.SurfPic {
    position: relative;
    width: 100%;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;
    width: 50%;
}

.SurfText {
    float: left;
    position: absolute;
    bottom: 100px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.SurfText p:first-of-type {
    font-size: 25px;
}

/*Second Row of Pictures*/

.SecondRow {
    display: flex;
    flex-flow: row;
    padding: 5%;
    padding-top: 0;
}

.LEDCard {
    display: flex;
    position: relative;
    flex: 1 0 0;
}
.LEDPic {
    display: flex;
    position: relative;
    width: 100%;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;
}

.LEDText {
    float: left;
    position: absolute;
    bottom: 50px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.LEDText p:first-of-type {
    font-size: 25px;
}

.CalcCard {
    display: flex;
    position: relative;
    flex: 1 0 0;
    justify-content: space-between;
}

.Calcpic {
    display: flex;
    position: relative;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;
}

.CalcText {
    float: left;
    position: absolute;
    bottom: 50px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.CalcText p:first-of-type {
    font-size: 25px;
}

/*Third Row of Pictures*/
.ThirdRow {
    display: flex;
    flex-flow: row;
}

.PuzzleCard {
    position: relative;
}

.PuzzlePic {
    display: flex;
    position: relative;
    flex: 1 0 0;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;

}

.PuzzleText {
    float: left;
    position: absolute;
    bottom: 50px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.PuzzleText p:first-of-type {
    font-size: 25px;
}

.RunCard {
    position: relative;
}

.RunPic {
    display: flex;
    position: relative;
    flex: 1 0 0;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;
}

.RunText {
    float: left;
    position: absolute;
    bottom: 50px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.RunText p:first-of-type {
    font-size: 25px;
}












/* Contact Me Attributes*/

.Contact {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;

}

footer h2 {
    font-size: 40px;
    flex: 0 0 10%;
    color: var(--Navy);
    text-align: end;
    border-right: solid;
    padding-right: 1%;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer ul li {
    display: flex;
    display: inline-block;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    color: var(--Navy);
    text-decoration: underline;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
}

footer ul li {
    font-size: 20px;
    padding-top: 3%;
    padding-right: 10%;
}
footer ul li a:visited {
    color: var(--Navy);
}