:root {
    --Blue: #92ccce;
    --DrkGry: #31343d;
    --Navy: #445877;
}

* {
    font-family: 'Trebuchet MS';
    font-size: 15px;
    margin: 0%;
}

/* Header and Nav */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--DrkGry);
    width:100%;
    height: 50px;
    
}

h1 {
    display: flex;
    color: var(--DrkGry);
    background-color: var(--Blue);
    padding-left: 5%;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    align-items: center;
    white-space: nowrap;
}




nav ul {
    display: flex;
    padding-top: 3%;
    margin-right: 30px;
}

nav ul li {
    display: flex;
    display: inline-block;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    color:#51D6D6;
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    align-items: center;
} 

a {
    font-size: 20px;
}
a:visited {
    color: #51D6D6;
}

/* Big Photo */

.headimg {
    display: flex;
    position: relative;
    flex-shrink: 1;

}

.headimg img {
    display: flex;
    width: 100%;
    height: 300px;

}

.headimg figcaption {
   position: absolute;
   font-size: 30px;
   background: var(--Blue);
   color: var(--DrkGry);
   top: 80%;
   right: 2%;
   padding: 5px; 
}

/* About Me Info */
.About {
    display: flex;
    position: relative
}

.About h2{
    display:flex;
    flex: 0, 0, 25%;
    font-size: 40px;
    color: var(--Navy);
    text-align: end;
    margin-left: 10%;
    margin-top: 3%;
    padding-right: 1%;
    border-right: solid;

}

.About li {
    display: flex;
    color: var(--Navy);
    margin-top: 3%;
    line-height: 20px;
    padding-right: 60px;
}

section {
    display: flex;
    flex-wrap: nowrap;
}

.Work h2 {
    display:flex;
    flex: 0, 0, 25%;
    font-size: 40px;
    color: var(--Navy);
    text-align: end;
    margin-left: 10%;
    margin-top: 3%;
    padding-right: 1%;
    border-right: solid;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    align-items: center;
    justify-content: space-between;

}

.SurfPic {
    display: flex;
    position: relative;
    width: 100%;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;
    margin-bottom: 1.5%;
}

.surfing {
    float: left;
    position: absolute;
    top: 1150px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.surfing p:first-of-type {
    font-size: 25px;
}

.LEDPic {
    display: flex;
    position: relative;
    width: 50%;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;
    margin-bottom: 1.5%;
}

.LED {
    float: left;
    position: absolute;
    top: 1500px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.LED p:first-of-type {
    font-size: 25px;
}

.Calcpic {
    display: flex;
    position: relative;
    width: 50%;
    border: solid;
    border-color: #51D6D6;
    border-width: thick;
    margin-bottom: 1.5%;
}

.Calc {
    float: left;
    position: absolute;
    top: 1500px;
    background: var(--Blue);
    color: var(--DrkGry);
    padding: 1%;
}

.Calc p:first-of-type {
    font-size: 25px;
}












/* Contact Me Attributes*/

.Contact {
    display: flex;

}

footer h2 {
    display:flex;
    flex: 0, 0, 25%;
    font-size: 40px;
    color: var(--Navy);
    text-align: end;
    margin-left: 21px;
    margin-top: 3%;
    padding-right: 1%;
    border-right: solid;
}

footer ul {
    display: flex;
    justify-content: space-between;
}

footer ul li {
    display: flex;
    display: inline-block;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    color: var(--Navy);
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;

}

footer ul li {
    
    font-size: 20px;
}
footer ul li a:visited {
    color: #51D6D6;
}
    